
body {
	
	background-color:#FFFCF1; /*#FFFFF0 #D3D3D3*/
}

.rolagem
{
	 overflow: auto; auto;
	 height: 200px;   /* QUANTO CHEGAR AO TAMANHO 200PX,APARECE A BARRA DE ROLAGEM VERTICAL*/
	 text-align:center;
	 font-family:arial; 
	 font-size:20px;  
	 line-height:100%;
	 width:100%;
	 box-shadow:0px 1px 1px 1px black;/*#fff*/
}

.rolagem_colMD_12
{
	 overflow: auto; auto;
	 height: 270px;   /* QUANTO CHEGAR AO TAMANHO 200PX,APARECE A BARRA DE ROLAGEM VERTICAL*/
	 text-align:center;
	 font-family:arial; 
	 font-size:20px;  
	 line-height:100%;
	 width:100%;
	 box-shadow:0px 1px 1px 1px black;/*#fff*/
}

.rolagem_2
{
	 overflow: auto; auto;
	 height: 380px;   /* QUANTO CHEGAR AO TAMANHO 200PX,APARECE A BARRA DE ROLAGEM VERTICAL*/
	 text-align:center;
	 font-family:arial; 
	 font-size:20px;  
	 line-height:100%;
	 width:100%;
	 box-shadow:0px 1px 1px 1px black; /*#fff*/
}
.btnProtuto {
	
	margin-top:40px;	
}


.topVizualizaSenha {
	
	margin-top:30px;
}
.totalPedidoPegPrepara{
	
	margin-top:50px;
}
.btnConfirmGeracaoPedido,
#btnEfetivarPedidoAcrescimo{
	
	margin-top:74px;
}

.btnFltFinanceiro,
.isBtnFltPedido{
	
	margin-top:20px;
}

.msgVencimentoContas {
	
	text-align:center;
	font-size:16px;
	
}
.codPedidoBlue{
	
	color:blue;
}

.permissaoNegada{
	
	margin-top:250px;	
} 
.permissaoNegada,
.listaPedidos,
.tituloListaPedidos,
.ProdutosDisponiveisPedido,
.listaProdutos,
.listaAcrescimo,
.listaPreparaPedido,
.listaPedidoProduto,
.listaPedidoAcrescimo,
.listaPreparaAcrescimo,
.tabelaProdutosDisponiveis,
.listaAcrescimos,
.listaAcrescimosAvulso,
.painelPedidos,
.painelAcrescimoPedidos,
.painelAcrescimoPedidos,
.painelDeControle,
.listaContasPagarVazia,
.listaContasReceberVazia,
.contas,
.titleInformativoContas,
.carregaUsuario,
.msgUsuarioVazio,
.msgAcrescimoVazio,
.msgRelatorioFinanceiro,
.isResultadoPesquisaFinanceiro,
.msgPesquisaPedido,
.msgPreparaPDF
{
	
	text-align: center;
}

.isDetalhesPesquisaPedido{
	
	margin-left:auto;
	margin-right:auto;
}

.listaPedidoAcrescimo,
.listaPedidoProduto,
.listaAcrescimosAvulso {
	
	background-color:black;
}
.h3listaPedidoProduto,
.h3listaPedidoAcrescimo,
.h3listaAcrescimoAvulso{
	
	color:white;
}

.idPedido,
.tdconta {
	
	color:red;
}
.statusCancelPedido,
.tdPagSeguroPagTaxa,
.isAcessoNegado{
	
	color:red;
}

.statusFinalizadoPedido,
.tdContaDia{
	
	color:green;
}

.statusAndamentoPedido {
	
	color:blue;
}

.login{
	margin-top:150px;	
	text-align:center;
}


#tablePedidoProdutos {
	
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;	
}


#tablePedidoAcrescimo {
	
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;	
}

#tablePedidoAcrescimo > thead > tr > th ,
#tablePedidoAcrescimo > tbody > tr > th,
#tablePedidoAcrescimo > tfoot > tr > th,
#tablePedidoAcrescimo > thead > tr > td,
#tablePedidoAcrescimo > tbody > tr > td,
#tablePedidoAcrescimo > tfoot > tr > td{

  padding: 2px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  font-size: 19px;
}


#tablePedidoProdutos > thead > tr > th ,
#tablePedidoProdutos > tbody > tr > th,
#tablePedidoProdutos > tfoot > tr > th,
#tablePedidoProdutos > thead > tr > td,
#tablePedidoProdutos > tbody > tr > td,
#tablePedidoProdutos > tfoot > tr > td{
	
  padding: 2px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  font-size: 19px;
}


#tableAcrescimosAvulsoTelaPedido {
	
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;	
}

#tableAcrescimosAvulsoTelaPedido > thead > tr > th ,
#tableAcrescimosAvulsoTelaPedido > tbody > tr > th,
#tableAcrescimosAvulsoTelaPedido > tfoot > tr > th,
#tableAcrescimosAvulsoTelaPedido > thead > tr > td,
#tableAcrescimosAvulsoTelaPedido > tbody > tr > td,
#tableAcrescimosAvulsoTelaPedido > tfoot > tr > td{

  padding: 2px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  font-size: 19px;
}

#tableAcrescimosAvulsoTelaPedido,
#tablePedidoAcrescimo,
#tablePedidoProdutos,
#painelPedidosProdutos,
#painelAcrescimosPedidos,
#painelAcrescimosAvulso {
	
	background-color:white;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 1px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  font-size: 14px;
}



