
.btnProtuto {
	
	margin-top:40px;	
}

.totalPedidoPegPrepara{
	
	margin-top:50px;
}
.btnConfirmGeracaoPedido {
	
	margin-top:74px;
}
.listaPedidos,
.tituloListaPedidos,
.ProdutosDisponiveisPedido,
.listaProdutos,
.listaAcrescimo,
.listaPreparaPedido,
.listaPedidoProduto,
.listaPedidoAcrescimo,
.listaPreparaAcrescimo{
	
	text-align: center;
}


.listaPedidoAcrescimo,
.listaPedidoProduto {
	
	background-color:black;
}
.h3listaPedidoProduto,
.h3listaPedidoAcrescimo {
	
	color:white;
}

.idPedido {
	
	color:red;
}
.statusCancelPedido{
	
	color:red;
}

.statusFinalizadoPedido{
	
	color:green;
}

.statusAndamentoPedido {
	
	color:blue;
}

.login{
	margin-top:100px;	
	text-align:center;
}


#tablePedidoProdutos {
	
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;	
}


#tablePedidoAcrescimo {
	
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;	
}

#tablePedidoAcrescimo > thead > tr > th ,
#tablePedidoAcrescimo > tbody > tr > th,
#tablePedidoAcrescimo > tfoot > tr > th,
#tablePedidoAcrescimo > thead > tr > td,
#tablePedidoAcrescimo > tbody > tr > td,
#tablePedidoAcrescimo > tfoot > tr > td{

  padding: 2px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  font-size: 20px;
}


#tablePedidoProdutos > thead > tr > th ,
#tablePedidoProdutos > tbody > tr > th,
#tablePedidoProdutos > tfoot > tr > th,
#tablePedidoProdutos > thead > tr > td,
#tablePedidoProdutos > tbody > tr > td,
#tablePedidoProdutos > tfoot > tr > td{
	
  padding: 2px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  font-size: 20px;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 1px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  font-size: 14px;
}



